version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: Wallet_controller
    env_file:
      - config.env
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - wallet_controller_network
    restart: unless-stopped

  postgres:
    image: postgres:17-alpine
    container_name: wallet_controller_db
    environment:
      - POSTGRES_DB=wallet_controller_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./internal/storage/01-init.sql:/docker-entrypoint-initdb.d/01-init.sql
      - ./internal/storage/02-data.sql:/docker-entrypoint-initdb.d/02-data.sql
    networks:
      - wallet_controller_network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  postgres_data:

networks:
  wallet_controller_network:
    driver: bridge